@{
    ViewBag.Title = "RegistroCandidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <link rel="stylesheet" href="/Content/Styles/registro-empresas.css" type="text/css" />
    <script src="/Content/Scripts/jquery.tablesorter.min.js"></script>
    <script src="/Content/Scripts/registro-empresas.js"></script>
}


<div id="Container">
    <h2 id="titulo-tabla">Candidatos registrados en el sistema</h2>
    <table id="tabla-candidatos" class="tablesorter table table-striped">
        <thead>
            <tr>
                <th id="select-all-th">
                    <input type="checkbox" name="select-all" value="all" id="select-all"></th>
                @*<th>Elegible</th>*@
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Telefono</th>
                <th>Debe algun curso</th>
                <th>Curso que debe</th>
            </tr>
        </thead>
        <tbody>
            <!-- Inserta los candidatos -->
            @foreach (SAPE_MVC.Models.Estudiante candidato in ViewBag.Candidatos)
            {
                SAPE_MVC.Models.Persona persona = SAPE_MVC.Models.Persona.getById(candidato.FK_Persona);    
                <tr>
                    <td>
                        <input type="checkbox" id="@candidato.Carnet" /></td>
                    @*<td>
                        <select class="form-control">
                            <option>No</option>
                            <option>Si</option>
                        </select>
                    </td>*@
                    <td>@persona.Nombre</td>
                    <td>@persona.Apellido1</td>
                    <td>@persona.Apellido2</td>
                    <td>
                        @foreach (SAPE_MVC.Models.Contacto contacto in ViewBag.Contactos)
                        {
                            if (contacto.FK_Persona == candidato.FK_Persona && contacto.TipoContacto.Nombre.Equals("Telefono"))
                            {
                                @contacto.Valor;
                                break;
                            }
                        }
                    </td>   
                    @foreach (SAPE_MVC.Models.CursoXEstudiante cxe in ViewBag.CursoDebe)
                    {
                        if (candidato.idEstudiante == cxe.FK_Estudiante && cxe.Curso.Nombre.Equals("Ninguno")) 
                        {
                            <td>No</td>
                            <td>@cxe.Curso.Nombre</td>
                            break;
                            }
                        if (candidato.idEstudiante == cxe.FK_Estudiante && !cxe.Curso.Nombre.Equals("Ninguno")) 
                        {
                            <td>Si</td>
                            <td>@cxe.Curso.Nombre</td>
                            break;
                            }
                        
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
                <td>
                    <a type="button" class="btn btn-primary" data-toggle="modal" href="#sendMailModal"><span class="glyphicon glyphicon-send"></span></a>
                    <button type="button" class="btn btn-success" onclick="editItem()"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-danger" onclick="deleteItem()"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
