<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema Administrador de Practicas de Especialidad</title>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div style="width: auto; background-color: aqua">
        @if (Request.IsAuthenticated)
        {
            <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Log Out", "Logout", "Account")
        }
        else
        {
            @Html.ActionLink("Register", "Register", "Account")
            <span>| </span>
            @Html.ActionLink("Log In", "Login", "Account")
        }
    </div>
    @RenderBody()
</body>
</html>
