@{
    ViewBag.Title = "FormListaNegra";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section Scripts {
    <script src="/Content/Scripts/form-lista-negra.js"></script>
}

<div class="main-form container">
    <h2>Preferencia de Profesor Asesor de Práctica de Especialidad</h2>
    <form role="form" method="post">
        <div class="form-group">
            <label for="lcarnet">Carné</label>
            <input id="lcarnet" class="form-control" type="text" name="carne" required="required" />
            <a id="checkCarne" class="btn btn-primary pull-right" onclick="slideDivDown()"><span class="glyphicon glyphicon-search"></span></a>
        </div>
        <fieldset disabled>
            <div class="form-group">
                <label for="NombreEst">Nombre</label>
                <input id="NombreEst" class="form-control" type="text" />
            </div>
        </fieldset>
        <div id="form-body">
            <div class="form-group">
                <h3>Profesores que preferiría le asesoren en orden de prioridad</h3>

                <div class="form-group">
                    <label for="Pref1">Preferencia 1</label>
                    <select id="Pref1" name="Pref1" class="form-control pref">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Pref2">Preferencia 2</label>
                    <select id="Pref2" name="Pref2" class="form-control pref">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Pref3">Preferencia 3</label>
                    <select id="Pref3" name="Pref3" class="form-control pref">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Pref4">Preferencia 4</label>
                    <select id="Pref4" name="Pref4" class="form-control pref">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Pref5">Preferencia 5</label>
                    <select id="Pref5" name="Pref5" class="form-control pref">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                </div>

                <h3>Profesores que preferiría <b>NO</b> le asesoren.</h3>
                <h4>Debe incluir razones de peso.</h4>
                <div id="dislike1">
                    <select id="NoPref1" name="NoPref1" class="form-control">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                    <input id="adjunta" value="+" type="button" class="btn btn-primary pull-right" onclick="addMore()" />
                    <br />
                    <textarea id="listanegra" class="form-control" name="Cmnt1"></textarea>
                    <br />
                </div>
                <div id="dislike2">
                    <select id="NoPref2" name="NoPref2" class="form-control">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                    <br />
                    <textarea class="form-control" name="Cmnt2"></textarea>
                    <br />
                </div>
                <div id="dislike3">
                    <select id="NoPref3" name="NoPref3" class="form-control">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                    <br />
                    <textarea class="form-control" name="Cmnt3"></textarea>
                    <br />
                </div>
                <div id="dislike4">
                    <select id="NoPref4" name="NoPref4" class="form-control">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                    <br />
                    <textarea class="form-control" name="Cmnt4"></textarea>
                    <br />
                </div>
                <div id="dislike5">
                    <select id="NoPref5" name="NoPref5" class="form-control">
                        @foreach (SAPE_MVC.Models.Profesor profesor in ViewBag.Profesores)
                        {
                            <option value="@profesor.idProfesor">@profesor.Persona.Nombre @profesor.Persona.Apellido1 @profesor.Persona.Apellido2</option>
                        }
                        <option selected="selected" value="-1">Ninguno</option>
                    </select>
                    <br />
                    <textarea class="form-control" name="Cmnt5"></textarea>
                    <br />

                </div>
                <input id="enviar" value="Enviar" type="submit" class="btn btn-primary pull-right" />
            </div>
        </div>
    </form>
</div>
