@{
    ViewBag.Title = "Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <link rel="stylesheet" href="/Content/Styles/registro-empresas.css" type="text/css" />
    <script src="/Content/Scripts/jquery.tablesorter.min.js"></script>
    <script src="/Content/Scripts/calificaciones.js"></script>
}

<h2 id="titulo-tabla">Calificaciones de los estudiantes</h2>
<table id="tabla-empresas" class="tablesorter table table-striped">
    <thead>
        <tr>
            <th>Practicante</th>
            @foreach (SAPE_MVC.Models.TipoEvaluacion tipoEval in ViewBag.Tipos) { 
                <th>@tipoEval.Nombre</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (SAPE_MVC.Models.Estudiante estudiante in ViewBag.Estudiantes)
        {
            <tr>
                <td>@estudiante.Persona.Nombre @estudiante.Persona.Apellido1 @estudiante.Persona.Apellido2</td>
                @foreach (SAPE_MVC.Models.TipoEvaluacion tipoEval in ViewBag.Tipos)
                {
                    <td>@SAPE_MVC.Models.Evaluacion.get(@tipoEval.idTipoEvaluacion, @estudiante.idEstudiante)</td>   
                }
            </tr>  
        }
    </tbody>
</table>