@{
    ViewBag.Title = "RegistroEmpresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <link rel="stylesheet" href="/Content/Styles/registro-empresas.css" type="text/css" />
    <script src="/Content/Scripts/jquery.tablesorter.min.js"></script>
    <script src="/Content/Scripts/registro-empresas.js"></script>
}

<h2 id="titulo-tabla">Empresas registradas en el sistema</h2>
<table id="tabla-empresas" class="tablesorter table table-striped">
    <thead>
        <tr>
            <th id="select-all-th">
                <input type="checkbox" name="select-all" value="all" id="select-all"></th>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Contacto</th>
            <th>Correo</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody id="tabla-body">
        @foreach (SAPE_MVC.Models.Empresa empresa in ViewBag.Empresas)
        {
            <tr>
                <td><input type="checkbox" name="@empresa.idEmpresa" value="@empresa.idEmpresa"></td>
                <td>@empresa.Nombre</td>
                <td>@empresa.Ciudad.Nombre, @empresa.Ciudad.Provincia.Nombre</td>
                <td>@empresa.Persona.Nombre @empresa.Persona.Apellido1 @empresa.Persona.Apellido2</td>
                <td class="emailEmpresa">@SAPE_MVC.Models.Contacto.getContactoEmpresa(@empresa.idEmpresa,"E-mail")</td>
                <td>@SAPE_MVC.Models.Contacto.getContactoEmpresa(@empresa.idEmpresa,"Telefono")</td>
            </tr>  
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-primary table-btn" data-toggle="modal" onclick="openMailModal()"><span class="glyphicon glyphicon-send"></span></a>
                <button type="button" class="btn btn-success table-btn" onclick="editItem()"><span class="glyphicon glyphicon-pencil"></span></button>
            </td>
        </tr>
    </tfoot>
</table>

<!-- SEND MAIL MODAL -->
<div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="sendMailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Componer correo</h4>
            </div>
            @using (Html.BeginForm("EnviarCorreo", null, FormMethod.Post, new { id = "sendMailForm" }))
            {
                <div class="modal-body">
                    <input type="hidden" id="mailList" name="emaillist" />
                    <div class="form-group">
                        <label for="mailSubject">Asunto</label>
                        <input type="text" class="form-control" id="mailSubject" name="mailSubject" />
                    </div>
                    <div class="form-group">
                        <label for="mailContent">Contenido</label>
                        <textarea class="form-control" rows="3" id="mailContent" name="mailContent"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span></button>
                </div>
            }
        </div>
    </div>
</div>
